# Ignore Python virtual environment folders
.venv/


# Ignore Python bytecode cache directories
__pycache__/
**/__pycache__/

safeher.db
.env
.vscode
../venv/

1fe64bbf-001a-4cd6-95a0-aa06439dabd9.jpg
bf958bf1-d508-42f4-98ba-04c88c91aefc.jpg
515067c7-5036-48ca-8303-b1d2a8430b5e.webm